.hero-banner{
    margin-top: 30px;
    height: 400px;
    margin-left:var(--primary-side-margin);
    margin-right:var(--primary-side-margin);
    background-color: var(--primary-cta-color);
    border-radius: var(--main-radius);
    display: grid;
    align-items: center;
    text-align: center;
}

.hero-text{
 width: 50%;
 margin: auto;
}

#search-icon{

    padding: 8px;
    border-radius: 5px;
    background-color: var(--primary-cta-color);
    color:#fff;
    
}

.services{
    height: 100%;
    width: fit-content;
    margin: auto;
}
.service-item{
    width: 100px;
    height: 100px;
    margin-right: var(--primary-side-margin);
    margin-left: var(--primary-side-margin);
    margin-top: 20px;
    border-radius: var(--main-radius);
    padding: 5px;
    text-align: center;
    box-shadow: 2px 2px 2px 2px #e0dfdf;
    display: inline;
    float: inline-start;
}

.service-item:hover{
    background: radial-gradient(farthest-side at 75% 65% ,rgba(219, 228, 255, 1),#fff);
    cursor: pointer;
}