.hero-banner{
    margin-top: 30px;
    height: 400px;
    margin-left:var(--primary-side-margin);
    margin-right:var(--primary-side-margin);
    background-color: var(--primary-cta-color);
    border-radius: var(--main-radius);
    display: grid;
    align-items: center;
    text-align: center;
}

.hero-text{
 width: 50%;
 margin: auto;
}

#search-icon{

    padding: 8px;
    border-radius: 5px;
    background-color: var(--primary-cta-color);
    color:#fff;
    
}

.service-item{
    
}