@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body{
  font-family: 'Open Sans', sans-serif;
}

:root{
  --primary-text-color:#fff;
  --secondary-text-color:#000;

  --primary-cta-color:#7695FF;

  --primary-background-color:#D2E0FB;
  --secondary-background-color:#F5F7F8;

  --main-border-color:#cac9c9;

  --main-radius:10px;

  --primary-side-margin: 15px;
  --primary-vertical-padding: 15px;
}

.main-cta{
   padding: 10px;
   background-color: var(--primary-cta-color);
   color: var(--primary-text-color);
   font-size: 16px;
   border: none;
   border-radius:var(--main-radius);
   cursor: pointer;
}