@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body{
  font-family: 'Open Sans', sans-serif;
}

:root{
  --primary-text-color:#fff;
  --secondary-text-color:#000;

  --primary-cta-color:#7695FF;
  --primary-theme-color:#7695FF;

  /* --primary-background-color:#a3b5d8; */

  --primary-background-color:#cad7f1;
  /* --secondary-background-color:#F5F7F8; */
  --secondary-background-color:#e1e1e1;

  --main-border-color:#cac9c9;

  --main-radius:10px;

  --primary-side-margin: 15px;
  --primary-vertical-padding: 15px;
  --primary-vertical-margin: 15px;

  --main-text-font-size: 24px;
}

.main-cta{
   padding: 10px;
   background-color: var(--primary-cta-color);
   color: var(--primary-text-color);
   font-size: 16px;
   border: none;
   border-radius:var(--main-radius);
   cursor: pointer;
}

.main-text{
  font-size: var(--main-text-font-size);
  color:var(--primary-text-color);
  
}